<div class="ui container">


        <div class="ui three doubling stackable cards">

{{#each games}}
    


                <div class="red ui raised link card">
               <a class="image" href="/games/{{this.title2}}">
                    <img src="{{this.imageOne}}">
               </a>
                <div class="content">
                <a class="header" href="/games/{{this.title2}}">{{this.title}}</a>
                <div class="meta ">

                            $15.99

                </div>
                <div class="description">
                    Matthew is an interior designer living in New York.
                </div>
                </div>
                <div class="extra content">
                    
                <span class="right floated">
                    
                    
                        
                        {{this.author}}
                    
                </span>
                <span>
                    <i class="game large icon"></i>
                  {{this.units}}
                </span>
                </div>
            </div>

{{/each}}
        </div>


</div>